.button {
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    background: #2a2a2a;
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.primary-button {
        background-color: #e1034d;
        color: white;
    }

    &:active {
        transform: scale(0.9);
    }
}
